@using BazarMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_LoginRegister.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Bazar</b>ADM</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Entre para iniciar sua sessão</p>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-horizontal", role = "form" }))
            {
                @*@Html.HiddenFor(m => Model.SubmitType)*@

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" name="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Senha" name="Senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Lembrar
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                    <!-- /.col -->
                </div>

                <div class="social-auth-links text-center mb-3">
                    <p>- OU -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Login usando o Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Login usando o Google+
                    </a>
                </div>

                <p class="mb-1">
                    <a href="forgot-password.html">Esqueci minha senha</a>
                </p>
                <p class="mb-0">
                    <a href="#" class="text-center">Registrar uma nova conta</a>
                </p>
            }

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->